#Projects {
    padding: 50px 0;

    h3 {
        width: fit-content;
        margin: 0 auto 10px auto;
    }

    .border.opacity-50 {
        width: 80%;
    }

    div.box-projects {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 20px;
        padding: 10px;
        justify-content: center;
    }

    .c-project {
        max-width: 350px;
        width: 100%;
        backdrop-filter: blur(5px);

        .technologies-used {
            img {
                width: auto;
                height: 20px;
            }
        }
    }

    div.space {
        max-width: 400px;
    }

    .c-project.card-light {
        background-color: var(--bg-card-light-transparent);
    }

    .c-project.card-dark {
        background-color: var(--bg-card-dark-transparent);
    }

    .c-project.card-light:hover {
        background-color: var(--bs-light);
    }

    .c-project.card-dark:hover {
        background-color: var(--bg-card-dark);
        border-color: var(--bs-light) !important;
    }

    .card.c-project {
        .card-body {
            display: grid !important;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(2, 1fr);

            .info {
                grid-row: -1 / 1;
                grid-column: -1 / 1;
            }

            .links {
                grid-row: -1 / 1;
                grid-column: -1 / 1;

                clip-path: circle(0 at left);
                transition: clip-path 0.2s;
            }
        }
    }
}

.projects.dark {
    background: var(--background-dark);
    background-size: cover;
    transition-duration: 0.3s;
    background-attachment: fixed;
}

.projects.light {
    background: var(--background-light);
    background-size: cover;
    transition-duration: 0.3s;
    background-attachment: fixed;
}
