nav.navbar {
    height: 50px;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 99;

    background-color: var(--transparent-dark);
    backdrop-filter: blur(5px);

    display: grid;
    grid-template-columns: repeat(7, 5fr);

    div.container {
        width: fit-content;
        height: 100%;

        img#logo {
            width: 150px;
            height: 70% !important;
        }

        .logo-dark-mode {
            filter: invert(0);
        }

        .logo-light-mode {
            filter: invert(1);
        }
    }

    #content-link {
        width: 100%;

        grid-column: 2/8;

        .menu-links {
            list-style: none;

            max-width: 550px;
            width: 100%;

            justify-content: space-around;

            li {
                a {
                    svg {
                        display: none;
                    }
                }
            }
        }

        #content-switch {
            width: fit-content;

            .toggle {
                position: relative;
                width: 33px;
                height: 20px;
                display: inline-block;
                margin: 15px 10px;
            }

            .toggle .slider {
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                transition: 0.4s;
                border-radius: 20px;
            }

            .toggle .slider:before {
                position: absolute;
                content: "";
                height: 14px;
                width: 14px;
                left: 3px;
                bottom: 3px;
                background-color: white;
                transition: 0.4s;
                border-radius: 50%;
                box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.05);
            }

            .toggle .slider {
                background-color: #565d63;
            }

            .toggle.on .slider {
                background-color: #4287f5;
            }

            .toggle.on .slider:before {
                transform: translateX(14px);
                box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.2);
            }

            .toggle .label {
                position: absolute;
                left: 50px;
                top: 4px;
                vertical-align: middle;
            }

            input {
                height: 100%;
                width: 100%;
                opacity: 0;
                position: absolute;
                z-index: 100;
                cursor: pointer;
                vertical-align: middle;
            }
        }
    }
}

@media (max-width: 480px) {
    nav.navbar {
        position: fixed !important;
        bottom: 0 !important;
    }
}