@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
@import "bootstrap/scss/bootstrap";
@import "./navbar.scss";
@import "./home.scss";

:root {
    --transparent-dark: #ffffff2d;
    --background-dark: linear-gradient(
            130deg,
            rgba(17, 17, 17, 0.37),
            rgba(29, 28, 28, 0.158)
        ),
        url("../../public/wallpaper-dark.webp"), no-repeat, center;

    --background-light: linear-gradient(
            130deg,
            rgba(238, 238, 238, 0.441),
            rgba(226, 227, 227, 0.599)
        ),
        url("../../public/wallpaper-light.webp"), no-repeat,
        center;
}

* {
    transition-duration: 0.3s;
    font-family: "Lato", "Segoe UI", Tahoma, Geneva, BlinkMacSystemFont, Roboto,
        Oxygen, Ubuntu, Cantarell, Verdana, "Open Sans", "Helvetica Neue",
        sans-serif, "Segoe UI", system-ui, -apple-system;
}

body {
    margin: 0;
    padding: 0;
}
