@media only screen and (min-width: 1200px) {
    header {
        width: 100%;
        height: 70px;
        position: fixed;
        top: 0;
    }

    .menu {
        display: flex;
        flex-direction: row;
        width: fit-content;
        height: 60px;
        align-items: center;
        gap: 10px;
    }

    .menu a {
        width: 150px;
        height: 100%;
        justify-content: center;
        align-items: center;
        color: #fff;
        text-decoration: none;
        gap: 10px;
        padding: 0 10px;
    }

    .menu a img {
        margin: 0;
        width: 30px;
        height: 30px;
    }

    .p-description {
        display: flex;
    }

    .home, .about_me, .sec_projects, .contact, .sec_curriculum {
        padding: 70px 0 0 0;
    }

    .home .content_home {
        padding-top: 5%;
    }

    .about_me .content_about {
        padding-top: 5%;
    }

    .container_contact {
        margin: 0;
    }

    .container_cv {
        padding-top: 5%;
    }
}

@media only screen and (max-width:971px) {
    .home .content_home .presentation {
        text-align: center;
    }
}

@media only screen and (max-width:480px) {
    header {
        width: 100%;
        height: 70px;
        bottom: 0;
    }

    .menu {
        height: 70px;
        width: fit-content;
        display: flex;
    }

    .menu a {
        height: 70px;
        align-items: center;
        justify-content: center;
    }

    .nav_buttons {
        display: none;
    }

    .home, .about_me, .sec_projects, .contact, .sec_curriculum {
        padding: 0 0 70px 0;
    }

    /*
    .presentation {
        text-align: center;
    }
    */

    .projects {
        height: 90%;
    }
}