@media only screen and (max-width:480px) {
    header {
        width: 100%;
        height: 70px;
        bottom: 0;
    }

    .menu {
        height: 70px;
        width: fit-content;
        display: flex;
    }

    .menu a {
        height: 70px;
        align-items: center;
        justify-content: center;
    }

    .nav_buttons {
        display: none;
    }

    .home, .about_me, .sec_projects, .contact, .sec_curriculum {
        padding: 0 0 70px 0;
    }

    .presentation {
        text-align: center;
    }

    .projects {
        height: 93%;
    }
}