* {
    margin: 0;
}

html {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    box-sizing: border-box;
}

h1 {
    width: fit-content;
    padding: 20px 0;
    margin: 0 auto;
}

fieldset {
    border: none;
    border-radius: 4px;
    background-color: #f5f7fa;
    margin-bottom: 25px;
    padding-top: 15px;
}

.references_ {
    margin-bottom: 0;
}

.personal, .contact, .studies, .work_experience, .reference {
    margin: 0 5px 15px 5px;
    padding: 10px 25px;
    background-color: #FFF;
    border-radius: 4px;
}

.cv {
    background-color: #e2e6e9;
    margin: 0 auto;
    min-width: 10em;
    max-width: 35em;
    padding: 10px 20px;
}