* {
    scroll-behavior: smooth;
}

html, body{
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: rgb(44, 44, 44);
    /*box-sizing: border-box;*/
    color: #f4f4f4;
    box-sizing: border-box;
}

.acceso {
    width: 100%;
    height: 60px;
    display: flex;
    position: fixed;
    top: 0;
    background-color: rgba(0, 0, 0, 0.164);
    backdrop-filter: blur(15px);
    justify-content: center;
}

.enlace_menu{
    font-size: 20px;
    border-radius: 10px;
    padding: 15px 20px;
    margin: auto 15px;
    text-decoration: none;
    cursor: pointer;
    color: #f4f4f4;
}

.enlace_menu:hover{
    background-color: rgba(255, 255, 255, 0.053);
}

main {
    display: grid;
}

.home {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: right;
    margin: 0;
    height: 100vh;
}

.home, .sec_projects {
    background: linear-gradient(130deg, rgba(74, 74, 74, 0.403), rgba(92, 91, 91, 0.358)), url("../img/backgrounds/image2.jpg"), center, no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.presentation {
    padding-right: 15px;
    text-shadow: 3px 3px 10px #000000;
}

.greeting, .invitation {
    margin: 0;
}

.perfil_photo {
    width: 15em;
    border-radius: 50%;
    margin-left: 15px;
}

.about_me {
    width: 100%;
    height: 100vh;
    display: grid;
    place-items: center;
}

.my_information {
    border: 1px solid;
    min-width: 20em;
    max-width: 40em;
    padding: 10px 40px;
    border-radius: 5px;
}

.sec_projects {
    padding: 80px 0;
}

.my_projects {
    width: fit-content;
}

.sub {
    border: 1px solid;
    background-color: #f4f4f4;
    width: 50%;
    margin-bottom: 60px;
}

.my_projects, .sub {
    margin-left: auto;
    margin-right: auto;
}

.card_project {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

figure {
    background-color: #f4f4f433;
    width: max-content;
    height: 350px;
    padding: 10px;
    border-radius: 5px;
    width: 20em;
    margin: 0;
}

figure:hover {
    backdrop-filter: blur(20px);
}

.img-project {
    width: 100%;
    border-radius: 5px;
}

ul {
    padding-left: 0;
}

ul li {
    display: inline-block;
    background-color: rgba(40, 40, 54, 0.474);
    padding: 5px 10px;
    border-radius: 5px;
}

.contact {
    height: 100vh;
    display: grid;
    place-items: center;
}

.contact h2 {
    margin: 0 auto;
    padding-bottom: 15px;
    width: fit-content;
}

.links {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.link {
    width: 200px;
    padding: 10px;
    border-radius: 5px;
    color: #f4f4f4;
    text-decoration: none;
}

.link:hover {
    background-color: #f4f4f43c;
}

.content_elements {
    display: flex;
    width: fit-content;
    padding-right: 25px;
    margin: 0 auto;
}

.link .icons_contact {
    width: 50px;
}

.link .des_icon {
    padding-left: 20px;
}


footer {
    width: 100%;
    height: 50px;
    background-color: #222537;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 0;
}

footer .des_footer {
    width: fit-content;
    padding-right: 10px;
}