* {
    margin: 0;
    box-sizing: border-box;
}

html, body{
    font-family: 'Roboto', sans-serif;
    background-color: #18181a;
    color: #f4f4f4;
    scroll-behavior: smooth;
    text-shadow: #18181a 2px 2px 2px;
}

.navbar {
    background-color: #18181a56;
    backdrop-filter: blur(15px);
}

.menu > a {
    text-decoration: none;
    color: white;
}

.menu > a > img {
    filter: invert();
}

.seccion {
    height: 100vh;
}

.line {
    width: 50%;
    border: 1px solid;
    margin: 5px auto 0 auto;
}

.home, .projects {
    background: linear-gradient(
        130deg,
        rgba(17, 17, 17, 0.37),
        rgba(29, 28, 28, 0.158)
    ), url("../img/backgrounds/image2.jpg"), no-repeat, center;
    background-size: cover;
    background-attachment: fixed;
}

.home {
    display: grid;
    place-items: center;
}

.container_home {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap-reverse;
    gap: 30px;
    justify-content: center;
    align-items: center;
    text-align: right;
    width: calc(100% - 80px);
}

#photo_perfil {
    height: 250px;
    width: auto;
    border-radius: 50%;
}

/* About me section*/
.about_me {
    display: grid;
    place-items: center;
}

#about_me_parragraf {
    min-width: 200px;
    max-width: 700px;
    height: fit-content;
    border: 5px solid;
    padding: 20px;
    margin: 0 30px;
}

#about_me_parragraf > legend {
    padding: 0 20px;
    font-size: 1.8rem;
}

#about_me_parragraf > p {
    font-size: 1.1rem;
    width: 100%;
}

.projects {
    padding-top: 20px;
}

.projects h3 {
    width: fit-content;
    margin: 0 auto;
}

#projects {
    height: max-content;
    padding-bottom: 20px;
}

.container_seccion_projects {
    padding-top: 15px;
    height: 100%;
}

.projects_container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    gap: 15px;
    margin: 0 auto;
    flex-direction: row;
    flex-wrap: wrap;
    width: calc(100% - 30px);
    height: calc(100% - 55px);
    overflow: hidden;
    overflow-y: scroll;
}

.card {
    width: 300px;
    height: 350px;
    padding: 20px;
    background-color: #f4f4f423;
    transition-duration: 0.3s;
    border: 2px solid transparent;
    border-radius: 4px;
    overflow: hidden;
}

.card:hover {
    background-color: #f4f4f446;
    transition-duration: 0.3s;
    border: 2px solid white;
}

.card h4 {
    text-shadow: none;
}

.card img {
    width: 100%;
    height: 130px;
    margin: 10px 0;
    border-radius: 4px;
    object-fit: cover;
}

.card ul {
    display: flex;
    flex-direction: row;
    gap: 10px;
    padding: 0;
    text-shadow: none;
}

.card ul li {
    list-style-type: none;
    background-color: #24292eb9;
    padding: 5px 10px;
    border-radius: 4px;
}

.card figcaption {
    padding: 0;
    margin: 15px 0;
}

.botones {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 40px;
    gap: 10px;
    height: 40px;
    border-radius: 4px;
}

.botones a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 120px;
    height: 100%;
    gap: 10px;
    background-color: #24292eef;
    color: rgb(255, 255, 255);
    transition-duration: 0.3s;
    padding: 5px 10px;
    border-radius: 4px;
    text-decoration: none;
    text-shadow: none;
    border: 1px solid transparent;
}

.botones a:hover {
    transition-duration: 0.3s;
    border: 1px solid white;
}

.botones > a > img {
    width: 23px;
    height: auto;
    filter: invert();
}

.botones > a > p {
    width: fit-content;
}

/*Contact me Section*/
.contact_me {
    display: grid;
    place-items: center;
    height: 50vh;
}

.container_contact {
    width: calc(100% - 100px);
}

.container_contact h2 {
    height: fit-content;
}

.links {
    width: calc(100% - 10px);
    margin: 10px auto 0 auto;
    padding: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
    align-items: center;
    justify-content: center;
}

a[class="link"] {
    width: 150px;
    text-decoration: none;
    color: #edf6ff;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    padding: 5px 10px;
    border-radius: 4px;
    transition-duration: .3s;
}

a[class="link"]:hover {
    background-color: #edf6ff4f;
    transition-duration: .3s;
}

a[class="link"] > img {
    width: 48px;
    height: 48px;
}

a[class="link"] > p {
    height: fit-content;
}