:root {
    /*Dark Mode*/
    --text-color-darkMode: rgb(237, 246, 255);
    --background-color-darkMode: rgb(24, 24, 26);
    --navbar-darkMode: #18181a56;
    --background_dark: linear-gradient(
        130deg,
        rgba(17, 17, 17, 0.37),
        rgba(29, 28, 28, 0.158)
    ), url("../img/backgrounds/artur-shamsutdinov-unsplash.jpg"), no-repeat, center;
    --card-color-darkMode: rgba(36, 41, 46, 0.6);
    --backgroundCard-color-darkMode: rgb(36, 41, 46);
    --borderCard-color-darkMode: rgb(67, 74, 83);
    --tecnologiesBackground-color-darkMode: rgba(24, 24, 24, 0.7);

    /*Light Mode*/
    --text-color-lightMode: rgb(24, 24, 26);
    --background-color-lightMode: rgb(24, 24, 26);
    --navbar-lightMode: #18181a56;
    --background-light: linear-gradient(
        130deg,
        rgba(17, 17, 17, 0.37),
        rgba(29, 28, 28, 0.158)
    ), url("../img/backgrounds/altumcode-unsplash.jpg"), no-repeat, center;
    --card-color-lightMode: rgba(36, 41, 46, 0.6);
    --backgroundCard-color-lightMode: rgb(36, 41, 46);
    --borderCard-color-darkMode: rgb(67, 74, 83);
    --tecnologiesBackground-color-lightMode: rgba(24, 24, 24, 0.7);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    font-family: Lato, Arial, Helvetica, sans-serif;
    background-color: var(--background-color-darkMode);
    color: var(--text-color-darkMode);
    scroll-behavior: smooth;
    text-shadow: var(--background-color-darkMode) 2px 2px 2px;
    color: var(--text-color-darkMode);
}

h1 {
    font-size: clamp(2rem, 4vw, 3rem);
}

h2 {
    font-size: clamp(1.5rem, 3vw, 2rem)
}

h3 {
    font-size: clamp(1rem, 2vw, 1.3rem)
}

p {
    font-size: clamp(1rem, 1.2vw, 1.1rem);
}

.navbar {
    background-color: var(--navbar-darkMode);
    backdrop-filter: blur(15px);
    z-index: 10;
}

.link_nav {
    text-decoration: none;
    color: var(--text-color-darkMode);
}

.fx3 {
    display: none;
}

#interruptor {
    display: grid;
    place-items: center;
    cursor: pointer;
    width: 100%;
    height: 100%;
    font-size: 1.3rem;
}

#auto {
    animation: rotar 1s;
}

#sol {
    display: none;
    animation: rotar 1s;
}

#luna {
    display: none;
    animation: rotar 1s;
}

.seccion {
    height: 100vh;
}

.line {
    width: 50%;
    border: 1px solid;
    margin: 5px auto 0 auto;
}

.home, .projects {
    background: var(--background_dark);
    background-size: cover;
    background-attachment: fixed;
}

.home {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: auto auto 1fr;

    align-items: center;

    height: 100vh;

    overflow: hidden;
}

.container_home {
    width: 100%;
    height: fit-content;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap-reverse;

    justify-content: center;
    gap: 30px;

    grid-column: 2 / 5;
    grid-row: 2 / -1;
}

.presentation {
    text-align: right;

    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: flex-end;
}

.presentation * {
    width: fit-content;
}

.presentation a {
    color: var(--text-color-darkMode);
    text-decoration: none;

    display: flex;
    flex-direction: row;
    gap: 5px;

    align-items: center;
}

.presentation a:hover {
    color: #bc1e20;
}

#photo_perfil {
    height: 250px;
    width: auto;

    border-bottom: 4px solid var(--text-color-darkMode);
    border-radius: 25%;
}

/* About me section*/
.about_me {
    display: grid;
    place-items: center;
}

#about_me_parragraf {
    min-width: 200px;
    max-width: 700px;
    height: fit-content;
    border: 5px solid;
    padding: 20px;
    margin: 0 30px;
}

#about_me_parragraf > legend {
    padding: 0 20px;
}

#about_me_parragraf > p {
    width: 100%;
}


.projects {
    padding-top: 20px;
}

.projects h2 {
    width: fit-content;
    margin: 0 auto;
}

#projects {
    height: max-content;
    padding-bottom: 20px;
}

.container_seccion_projects {
    padding-top: 15px;
    height: 100%;
}

.projects_container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    gap: 15px;
    margin: 0 auto;
    flex-direction: row;
    flex-wrap: wrap;
    width: calc(100% - 30px);
    height: calc(100% - 55px);
}

/*Nuevo codigo*/

.card {
    width: 300px;
    height: 350px;

    background-color: var(--card-color-darkMode);
    backdrop-filter: blur(5px);

    border: 3px solid transparent;
    border-radius: 5px;

    display: grid;
    grid-template-rows: 1fr auto;
    grid-template-columns: 1fr;

    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);;

    overflow: hidden;
    cursor: pointer;

    transition-duration: .2s;
}

.card:hover {
    background-color: var(--backgroundCard-color-darkMode);
    border: 3px solid var(--borderCard-color-darkMode);
    box-shadow: 10px 10px 10px rgba(18, 18, 18, 0.8);
    transition-duration: .2s;
}

input[type="checkbox"] {
    display: none;
}

.buttons {
    grid-column: -1/1;
    grid-row: 2/3;

    background-color: var(--backgroundCard-color-darkMode);
    border-radius: 4px;

    display: flex;
    flex-direction: row;
    gap: 10px;

    justify-content: center;
    align-items: center;

    clip-path: circle(0 at left);
    transition: clip-path .2s;
}

input[type="checkbox"]:checked + label .buttons {
    clip-path: circle(150% at left);
}


.buttons a {
    width: 50px;
    height: 50px;
    padding: 5px;
    border-radius: 10%;

    text-decoration: none;
    font-size: 1.8rem;
    color: var(--text-color-darkMode);
    background-color: var(--background-color-darkMode);

    display: grid;
    grid-template-columns: 1fr;
    gap: 5px;
    place-items: center;

    transition-duration: .2s;

    cursor: pointer;
}

.buttons a:hover {
    background-color: var(--borderCard-color-darkMode);
    transition-duration: .2s;
}

.card.empty {
    width: 300px;
    height: 0px;
    opacity: 0;
}

.preview_project {
    width: 100%;
    height: 100%;

    border-radius: 4px 4px 0 0;

    object-fit: cover;

    grid-column: -1/1;
    grid-row: 1/2;
}

.project_description {
    width: 100%;
    padding: 10px;

    grid-column: -1/1;
    grid-row: 2/3;

    display: flex;
    flex-direction: column;

    gap: 10px;

    overflow: hidden;
}

.tecnologies {
    list-style: none;

    display: grid;
    grid-template-columns: repeat(5, 1fr);

    gap: 10px;
}

.tecnologies li {
    background-color: var(--tecnologiesBackground-color-darkMode);

    padding: 5px 10px;
    border-radius: 4px;

    text-align: center;
}

/*------------*/

/*Contact me Section*/
.contact_me {
    display: grid;
    place-items: center;
    height: 50vh;
}

.container_contact {
    width: calc(100% - 100px);
}

.container_contact h2 {
    height: fit-content;
}

.links {
    width: calc(100% - 10px);
    margin: 10px auto 0 auto;
    padding: 10px;
    font-size: 1.7rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 30px;
    align-items: center;
    justify-content: center;
}

a[class="link"] {
    width: fit-content;
    padding: 5px 10px;
    text-decoration: none;
    color: var(--text-color-darkMode);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
    transition-duration: .3s;
}

a[class="link"]:hover {
    transform: rotate(-15deg);
    transition-duration: .3s;
}

a[class="link"] > p {
    height: fit-content;
    font-size: unset;
}

footer {
    width: 100%;
    height: 50px;
    display: grid;
    place-content: center;
    border-top: 2px solid var(--text-color-darkMode);
}

@keyframes rotar {
    0%{
        transform: rotate(-45deg);
        opacity: 0;
    }
    100%{
        transform: rotate(0deg);
        opacity: 1;
    }
}