@media only screen and (min-width: 481px) and (max-width: 1023.5px) {
    .navbar {
        position: fixed;
        left: 0;
        width: 50px;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    #interruptor {
        width: 100%;
        height: 50px;

        position: fixed;
        top: 10px;
    }

    #interruptor p {
        display: none;
    }

    #auto p,
    #sol p,
    #luna p {
        display: none;
    }

    .menu {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        gap: 20px;
    }

    .link_nav {
        display: grid;
        place-content: center;
        width: 100%;
        height: 50px;

        border-radius: 4px;

        transition-duration: 0.2s;
    }

    .link_nav:hover {
        background-color: #ffffff53;
        transition-duration: 0.2s;
    }

    .link_nav .fx3 {
        display: grid;
        place-content: center;
        font-size: 1.7rem;
    }

    .link_nav p[class="text"] {
        display: none;
    }

    .border,
    .separador {
        display: none;
    }

    .presentation {
        text-align: center;
        align-items: center;
    }

    .container-logo {
        display: none;
    }

    .seccion {
        padding-left: 50px;
        padding-bottom: 0;
    }

    .contact_me {
        height: 100vh;
    }
}
