@media only screen and (min-width: 481px) and (max-width: 1023px) {
    .navbar {
        position: fixed;
        left: 0;
        width: 50px;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .menu > a > p {
        display: none;
    }
    .container_home {
        text-align: center;
    }

    .border, .separador {
        display: none;
    }

    .container-logo {
        display: none;
    }

    .menu {
        display: flex;
        flex-direction: column;
        gap: 15px;
        padding: 10px;
        height: fit-content;
    }

    .seccion {
        padding-left: 50px;
        padding-bottom: 0;
    }

    .contact_me {
        height: 100vh;
    }
}